[Unit]
Description=Disable system wakeup from activity of USB interfaces

[Service]
ExecStart=/bin/bash /usr/sbin/acpi-sleep.bash
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target