[Unit]
Description=Hotplug enable CPU simultaenous multi-threading (SMT)

[Service]
ExecStart=/bin/bash /usr/sbin/toggle-smt.bash y
# ExecStart=/bin/bash /usr/sbin/toggle-smt.bash
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target