[Unit]
Description=Hotplug disable/enable CPU simultaenous multi-threading (SMT)

[Service]
ExecStart=/bin/bash /usr/sbin/hotplug-cpu-smt.bash n
# ExecStart=/bin/bash /usr/sbin/hotplug-cpu-smt.bash y
# ExecStart=/bin/bash /usr/sbin/hotplug-cpu-smt.bash
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target